p {
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(164deg, #ab65ab, #d16508);
}
.container {
    width: 900px;
    height: 56rem;
    margin: auto;
    text-align: center;
    border: 1px solid black;   
}
.title {
    text-align: center;
}
.columns {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 200px;
    text-align: center;
}
.boxes {
    width: 200px;
    height: 200px;
    padding: 2px;
    margin: 3px auto;
    border: 1px solid black;
    border-radius: 7px;
    background: white;
}
.right {
    float: right;
}
.cushion {
    margin: auto;
}
.center {
    text-align: center;
}