<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Let's see all the users</h1>
    <% for (var x in all_users) { %>
      <p>Name: <%= all_users[x].name %> Email: <%= all_users[x].email %></p>
        <h3>Comments made: </h3>
        <% for (var comm in all_users[x].comments) { %>
          <h4><%= all_users[x].comments[comm].content %></h4>
        <% } %>
      <hr>
    <% } %>
    <form action='/users' method='post'>
      Name: <input type='text' name='name'>
      Email: <input type='text' name='email'>
      <button>Add User</button>
    </form>
    <br>
    <form action='/users/delete' method='post'>
      <button>Delete All Users</button>
    </form>
    <a href="/makecomment/<%= user_id %>">Make a Comment</a>
  </body>
</html>